#arrow-start {
  fill: "context-color";
}

.node-group {
  stroke: #4d4447;
  fill: transparent;
  overflow: visible;

  &:hover {
    stroke: #60756a;
    fill: transparent;
  }
}

.node {
  stroke: #b4b488;
  fill: #f1f6cd;
  &.selected {
    stroke: #60756a;
    fill: #f1f6cd;
  }

  &:hover {
    stroke: #60756a;
    fill: #f1f6cd;
  }
}
.link {
  stroke: #4d4447;
  fill: transparent;
  &.selected {
    stroke: #4d4447;
    fill: transparent;
  }
  &:hover {
    stroke: #60756a;
    fill: transparent;
  }
  & > text {
    fill: #4d4447;
    transform: translate(0, -0.5em);
    text-anchor: middle;
  }
}
.node-label {
  fill: #4d4447;
}
.link-label {
  fill: #4d4447;
}
